.playArea {
    @include pixelArt();
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('../assets/pixelSpace.png');
    background-position: var(--bgX)var(--bgY);
    overflow: hidden;
    position: relative;
    cursor: none;
}

.ship {
    @include pixelArt();
    width: 5vmax;
    height: 5vmax;
    transform: translate(var(--x), var(--y)) scaleY(var(--scaleY));
    position: absolute;
    background: linear-gradient(var(--colour), var(--colour)), var(--imgUrl);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bullet {
    @include pixelArt();
    width: 0.5vmax;
    height: 1.4vmax;
    background-image: var(--imgUrl);
    transform: translate(var(--x), var(--y)) rotate(var(--angle));
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pickup {
    @include pixelArt();
    position: absolute;
    width: 3.5vmax;
    height: 3.5vmax;
    transform: translate(var(--x), var(--y));
    background: linear-gradient(var(--colour), var(--colour)), var(--imgUrl);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gameDisplayArea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    @include flexBetween();

    p {
        text-align: center;
        font-size: 2vmin;
        width: 25%;
        
        @include mq-tablet() {
            font-size: 2vmax;
        }
        
    }
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}