main {
    height: 65vh;
    background-color: $colPrimary;

    .wrapper {
        height: 100%;
    }

}

.setupGame {
    height: 100%;
    @include flexFullCentre();
}

.startScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.howToPlay {
    color: black;
    display: flex;
    justify-content: space-between;
    @include mq-tablet() {
        flex-direction: column;
        width: 90%;
    }

    .mission,
    .controls {
        border: 4px solid $colAccent;
        border-radius: 12px;
        padding: 1vmin 1.5vmin;
    }

    .mission {
        flex-basis: 55%;
    }

    .controls {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        img {
            width: 3vmax;
            height: auto;
        }

    }

    .mouse,
    .touch {
        img {
            width: 4vmax;
        }
    }

    .movement,
    .firing {
        display: flex;
        justify-content: space-between;

        > * {
            @include flexBetween(column);
        }
    }

    .firing {
        .keyboard {
            img {
                width: 6vmax;
                height: auto;
            }
        }
    }

    h3,
    h4 {
        font-family: $fontTitles;
        text-align: center;
    }

    h3 {
        font-size: 3.5vmax;
    }

    h4 {
        font-size: 2.5vmax;
        color: black;
    }

    h5 {
        font-size: 1.25vmax;
    }

    p {
        font-size: 1.25vmax;
        line-height: 1.6;
    }
}

.selectionForm {
    @include flexFullCentre();
    flex-direction: column;
    color: black;
    
    label {
        font-family: $fontTitles;
        font-size: 4vmax;
        @include mq-desktop-large() {
            font-size: 6rem;
        }

        img {
            padding: 5px;
            width: 10vmin;
            @include mq-tablet() {
                width: 10vmax;
            }
            height: auto;
            transition: all 0.3s;
        }
    }

    input[type="text"] {
        width: 80%;
        @include mq-tablet() {
            width: 90%;
        }
        border: none;
        padding: 1.5rem;
        margin-bottom: 2%;
        font-size: 2vmax;
        @include mq-desktop-large() {
            font-size: 3rem;
        }
        font-family: $fontPixel;
    }
    
    fieldset {
        border: none;
        padding: 0;
        // margin: 2% 0;
    }
    
    legend {
        width: 100%;
        text-align: center;
        font-family: $fontTitles;
        font-size: 4vmax;
        @include mq-desktop-large() {
            font-size: 6rem;
        }
    }

    .shipChoices {
        @include flexFullCentre();
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        @include mq-tablet() {
            width: 90%;
        }
    }

    input[type="radio"] {
        visibility: hidden;
        &:checked + label img{
            outline: 2px solid $colAccent;
            outline-style: dashed;
            transform: scale(1.15);
        }
    }

    button {
        font-size: 1.5vmax;
        @include mq-tablet() {
            // font-size: 2vw
        }
    }

}

.gameOverScreen {
    height: 100%;
    padding: 2.5% 0;
    background-color: $colSecondaryDark;
    @include flexBetween(column);

    h3 {
        text-align: center;
        width: 100%;
        font-size: 5vmin;
        font-family: $fontTitles;
        text-shadow: 1px 1px black;
    }

    h4 {
        text-align: center;
        width: 100%;
        font-size: 3vmin;
        font-family: $fontTitles;
        color: white;
        text-shadow: 1px 1px black;
    }

    .buttons {
        width: 100%;
        padding: 0 5%;
        @include flexBetween();
        button {
            font-size: 1.5vmax;
            @include mq-desktop-large() {
                font-size: 2rem;
            }

            @include mq-mobile() {
                width: 45%;
            }
        }
    }
}

.leaderboard {
    @include flexBetween(column);
    width: 100%;
    font-size: 1.1vmax;
    @include mq-desktop-large() {
        font-size: 1.6rem;
    }
    @include mq-tablet() {
        font-size: 1.5vmax;
    }
    text-shadow: 1px 1px black;
    ul {
        width: 100%;
        height: 100%;
        padding: 0 5%;  
        li {
            width: 100%;
            @include flexBetween();
        }  
    }

    p {
        margin: 2vmin 0;
    }

    p:nth-child(1) {
        width: 10%;
    }
    p:nth-child(2) {
        width: 34%;
    }
    p:nth-child(3) {
        width: 27%;
    }
    p:nth-child(4) {
        width: 29%;
        text-align: right;
    }
}

.yourScore {
    width: 100%;
    padding: 0 5%;
    div {
        width: 100%;
        @include flexBetween();
    }
}

.scoreHighlight {
    color: $colPrimary;
    text-shadow: 1px 1px $colAccent;
}

.hidden {
    display: none;
}

.gameMain {
    height: 100vh;
}

.gameWrapper {
    max-width: 800px;
    width: 100%;
}

