main {
    height: 65vh;
    background-color: $colPrimary;

    .wrapper {
        height: 100%;
    }

}

.setupGame {
    height: 100%;
    @include flexFullCentre();
}

.startScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.howToPlay {
    height: 100%;
    padding: 2% 0;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @include mq-tablet() {
        width: 90%;
    }

    .controls {
        @include flexBetween(column, stretch);

        h3 {
            margin-bottom: 2vh;
        }
    }

    .controlOptions {
        @include flexBetween();
    }

    .controlImages {
        @include flexFullCentre();
        width: 25%;
        height: 100%;
    }

    .movement,
    .firing {
        @include flexBetween(column, stretch);
    }
    
    h3 {
        font-family: $fontTitles;
        text-align: center;
        font-size: 4vmax;
    }

    h4 {
        font-size: 2vmax;
        text-transform: uppercase;
        color: black;
    }

    p {
        font-size: 1vmax;
        line-height: 1.6;

        @include mq-desktop-large() {
            font-size: 2rem;
        }

        @include mq-tablet() {
            font-size: 1.5vmax;
        }
    }

    img {
        width: 7vmax;
    }

    .movement {
        .keyboard {
            img {
                width: 5vmax;
            }
        }
    }

    .firing {
        .keyboard {
            img {
                width: 9vmax;
            }
        }
    }
}

.selectionForm {
    @include flexFullCentre(column);
    color: black;
    
    label {
        font-family: $fontTitles;
        font-size: 3.75vmax;
        @include mq-desktop-large() {
            font-size: 6rem;
        }

        img {
            padding: 5px;
            width: 10vmin;
            @include mq-tablet() {
                width: 10vmax;
            }
            transition: all 0.3s;
        }
    }

    input[type="text"] {
        width: 80%;
        border: none;
        padding: 1.5rem;
        margin-bottom: 2%;
        font-family: $fontPixel;
        font-size: 2vmax;

        @include mq-desktop-large() {
            font-size: 3rem;
        }

        @include mq-tablet() {
            width: 90%;
        }
    }
    
    fieldset {
        border: none;
        padding: 0;
    }
    
    legend {
        width: 100%;
        text-align: center;
        font-family: $fontTitles;
        font-size: 3.75vmax;

        @include mq-desktop-large() {
            font-size: 6rem;
        }
    }

    .shipChoices {
        @include flexFullCentre();
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;

        @include mq-tablet() {
            width: 90%;
        }

    }

    input[type="radio"] {
        opacity: 0;
        &:checked + label img{
            outline: 2px solid $colAccent;
            outline-style: dashed;
            transform: scale(1.15);
        }
    }

    button {
        font-size: 1.5vmax;
    }

    .gameOptions {
        @include flexBetween();

        label {
            text-align: center;
            font-size: 2.5vmax;
            margin: 0.75vmax;

            @include mq-tablet() {
                font-size: 4vmax;
            }

            @include mq-mobile() {
                font-size: 3.5vmax;
            }

        }

    }

    input[type="checkbox"] {
        opacity: 0;

        &:checked + label span {
            color: $colAccent;
        }

        &:focus + label {
            outline: 2px dotted $colAccent;
        }
    }


}

.gameOverScreen {
    @include flexBetween(column);
    height: 100%;
    padding: 2.5% 0;
    background-color: $colSecondaryDark;

    h3 {
        text-align: center;
        width: 100%;
        font-size: 5vmin;
        font-family: $fontTitles;
        text-shadow: 1px 1px black;
    }

    h4 {
        text-align: center;
        width: 100%;
        font-size: 3vmin;
        font-family: $fontTitles;
        color: white;
        text-shadow: 1px 1px black;
    }

    .buttons {
        width: 100%;
        padding: 0 5%;
        @include flexBetween();

        button {
            font-size: 1.5vmax;

            @include mq-desktop-large() {
                font-size: 2rem;
            }

            @include mq-mobile() {
                width: 45%;
            }
        }
    }
}

.leaderboard {
    @include flexBetween(column);
    width: 100%;
    font-size: 1.1vmax;
    text-shadow: 1px 1px black;

    @include mq-desktop-large() {
        font-size: 1.6rem;
    }

    @include mq-tablet() {
        font-size: 1.5vmax;
    }

    ul {
        width: 100%;
        height: 100%;
        padding: 0 5%;  
        li {
            width: 100%;
            @include flexBetween();
        }  
    }

    p {
        margin: 2vmin 0;
    }

    p:nth-child(1) {
        width: 10%;
    }
    p:nth-child(2) {
        width: 34%;
    }
    p:nth-child(3) {
        width: 27%;
    }
    p:nth-child(4) {
        width: 29%;
        text-align: right;
    }
}

.yourScore {
    width: 100%;
    padding: 0 5%;

    div {
        @include flexBetween();
        width: 100%;
    }
}

.scoreHighlight {
    color: $colPrimary;
    text-shadow: 1px 1px $colAccent;
}

.hidden {
    display: none;
}

.selectionMain {
    height: 75vh;
}

.gameMain {
    height: 100vh;
}

.gameWrapper {
    max-width: 800px;
    width: 100%;
}

