// CSS Variables

:root {
    --x: 0;
    --y: 0;
    --scaleY: 1;
    --bgX: 0;
    --bgY: 0;
    --angle: 0;
    --colour: rgba(255, 255, 255, 0);
    --imgUrl: url('');
}

// SCSS Variables

$fontTitles: 'Bangers', cursive;
$fontPixel: 'Press Start 2P', cursive;

// Colour Palette

$colAccentDark: rgba(130, 52, 0, 1);
$colAccent: rgba(193, 30, 1, 1);
$colPrimary: rgba(255, 212, 112, 1);
$colSecondaryLight: rgba(42, 98, 143, 1);
$colSecondaryDark: rgba(19, 41, 61, 1);

